body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

/* Header Style */
header {
  position: absolute;
  z-index: 99999;
  width: 100%;
  height: 80px;
  background-color: #232323;
  transition: all 0.3s ease-in-out 0s;
}

header .navbar {
  padding: 17px 0px;
}

#navbarSupportedContent {
  z-index: 999;
}

.navbar-nav .nav-link:hover,
.navbar-nav .active>.nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .show>.nav-link {
  color: #f33f3f !important;
}

.navbar .navbar-brand {
  float: left;
  margin-top: -12px;
  outline: none;
}

.navbar .navbar-brand h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  transition: all 0.3s ease 0s;
}

.navbar .navbar-brand h2 em {
  font-style: normal;
  color: #f33f3f;
}

.navbar-collapse {
  text-align: center;
}

.navbar .navbar-nav .nav-item {
  margin: 0px 15px;
}

.navbar .navbar-nav a.nav-link {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #fff;
  transition: all 0.5s;
  margin-top: 5px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
  color: #fff;
  padding-bottom: 25px;
  border-bottom: 3px solid #f33f3f;
}

.navbar .navbar-toggler-icon {
  background-image: none;
}

.navbar .navbar-toggler {
  border-color: #fff;
  background-color: #fff;
  height: 36px;
  outline: none;
  border-radius: 0px;
  position: absolute;
  right: 30px;
  top: 20px;
}

.navbar .navbar-toggler-icon:after {
  content: "\f0c9";
  color: #f33f3f;
  font-size: 18px;
  line-height: 26px;
  font-family: "FontAwesome";
}

/* Banner */
.banner {
  position: relative;
  text-align: center;
  padding-top: 80px;
}

.banner-item-01 {
  padding: 300px 0px;
  background-image: url(images/slider-image-1-1920x600.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner .banner-item-01 {
  max-height: 600px;
}

.banner .text-content {
  position: absolute;
  top: 50%;
  width: 100%;
}

.banner .card {
  position: absolute;
  top: 35%;
  right: 10%;
  width: 25%;
  height: 50%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.banner .card h5 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-left: 2%;
  margin-bottom: 2%;
}

.banner .card .dropdown {
  width: 100%;
  margin-bottom: 2%;
}

.banner .card .form-check {
  color: #eee;
  text-align: left;
  margin-top: 2%;
  font-size: 90%;
}

.banner .card .pick-up-date {
  width: 100%;
  margin-bottom: 4%;
}

.banner .card .dropdown>i {
  position: absolute;
  top: 30%;
  left: 4%;
}

.banner .card .pick-up-date>i {
  position: absolute;
  top: 36%;
  left: 8%;
}

.banner .card .return-date>i {
  position: absolute;
  top: 72%;
  left: 8%;
}

#find-vehicle,
#readMore {
  background-color: #21292b;
  border-color: #21292b;
  margin-top: 5%;
}

#find-vehicle i {
  padding-left: 3%;
}

#pick-up,
#return {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 37px;
  border-width: 1px;
  padding: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 5%;
  margin: 0;
  width: 88%;
  height: 9%;
  opacity: 0;
}

#location {
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  height: 37px;
}

.banner .text-content h4 {
  color: #f33f3f;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.banner .text-content h2 {
  color: #fff;
  font-size: 62px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.why-choose-us {
  margin-top: 5%;
}

.section-heading h2 {
  margin-bottom: 5%;
  font-weight: bold;
}

.item-box {
  background-color: #21292b;
  width: 50px;
  height: 50px;
  padding: 3px;
  border-radius: 50%;
  text-align: center;
  line-height: 53px;
  float: left;
  margin: 0 20px 0 0;
}

.item-box i {
  font-size: 30px;
  color: #eee;
}

.icon-text h4 {
  margin-top: 4px;
  margin-bottom: 5px;
  font-size: large;
}

.content p {
  color: #6e6e6e !important;
  margin: 0 0 14px;
  font-size: smaller;
}

.advantages {
  margin: 15px 5px 15px 5px;
  padding: 10px 0px 5px 0px;
}

.best-features {
  margin-top: 60px;
}

.best-features .container .row {
  padding-bottom: 60px;
}

.best-features img {
  width: 100%;
  overflow: hidden;
}

.best-features ul.featured-list li {
  display: block;
  margin-bottom: 10px;
}

.left-content p {
  margin-bottom: 25px;
  font-weight: bolder;
  padding-top: 5%;
}

.left-content {
  align-items: center;
}

.best-features ul.featured-list li a {
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 300;
  transition: all 0.3s;
  position: relative;
  padding-left: 13px;
}

.best-features ul.featured-list li a:before {
  content: "";
  width: 5px;
  height: 5px;
  display: inline-block;
  background-color: #4a4a4a;
  position: absolute;
  left: 0;
  transition: all 0.3s;
  top: 8px;
}

.best-features ul.featured-list li a:hover {
  color: #f33f3f;
}

.best-features ul.featured-list li a:hover::before {
  background-color: #f33f3f;
}

#readMore a {
  color: #eee;
}

/* Services */

.services {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0px;
}

.services .section-heading h2 { 
	color: #fff; 
}

.service-item {
	text-align: center;
	margin-bottom: 30px;
}

.service-item .icon {
	background-color: #f7f7f7;
	padding: 40px;
}

.service-item .icon i {
	width: 100px;
	height: 100px;
	display: inline-block;
	text-align: center;
	line-height: 100px;
	background-color: #f33f3f;
	color: #fff;
	font-size: 32px;
}

.service-item .down-content {
	background-color: #fff;
	padding: 40px 30px;
}

.service-item .down-content h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 20px;
}

.service-item .down-content h6 { 
	margin-bottom: 15px;
}

.service-item .down-content p {
	margin-bottom: 25px;
}

.services-item-image { 
	display: block; 
}

/* Footer */

footer {
	text-align: center;
}

footer .inner-content {
	border-top: 1px solid #eee;
	margin-top: 30px;
	padding: 30px 0px;
}

footer .inner-content p {
	text-transform: uppercase;
}

footer .inner-content p a {
	color: #f33f3f;
	margin-left: 3px;
}


@media (max-width: 992px) {
  .navbar .navbar-brand {
    position: absolute;
    left: 30px;
    top: 32px;
  }

  .navbar .navbar-brand {
    width: auto;
  }

  .navbar:after {
    display: none;
  }

  #navbarSupportedContent {
    z-index: 99999;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  }

  .navbar .navbar-nav .nav-item {
    border-bottom: 1px solid #eee;
  }

  .navbar .navbar-nav .nav-item:last-child {
    border-bottom: none;
  }

  .navbar .navbar-nav a.nav-link {
    padding: 15px 0px;
    color: #1e1e1e !important;
  }

  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .active>.nav-link,
  .navbar .navbar-nav .nav-link.active,
  .navbar .navbar-nav .nav-link.show,
  .navbar .navbar-nav .show>.nav-link {
    color: #f33f3f !important;
    padding-bottom: 15px;
  }
}